
body {
	padding: 0;
	margin: 0;
	background: #FFF;
	font-family: 'Raleway', sans-serif;
}
body a {
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-o-transition: 0.5s all;
	-ms-transition: 0.5s all;
	text-decoration: none;
}
body a:hover {
	text-decoration: none;
}
body a:focus, a:hover {
	text-decoration: none;
}
input[type="button"], input[type="submit"] {
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-o-transition: 0.5s all;
	-ms-transition: 0.5s all;
}
h1, h2, h3, h4, h5, h6 {
	margin: 0;
	padding: 0;
	text-align: center;
	font-family: 'Roboto', sans-serif;
	letter-spacing:1px;
}
p {
	margin:0;
}
ul {
	margin:0;
	padding:0;
}
label {
	margin:0;
}
a:focus, a:hover {
	text-decoration: none;
	outline: none
}
img {
	width: 100%;
}
/*-- //Reset Code --*/
/*--header start here--*/
.header {
   background-color: rgb(4, 19, 102);
}
.logo {
    float: left;
    width: 30%;
}
.phone {
    float: left;
    width: 48%;
	text-align:center;
}

.phone h2 {
  font-size: 1em;
  font-weight: 400;
  color: #fff;
  margin-top:5px;
}
span.ph-numb {
  display: block;
  font-weight: 600;
    color: #fff;
}
span.menu {
  display: none;
}
.logo h1 {
  font-size: 2.5em;
  margin: 0em;
}
.logo h1 a{
      color: #fff;
  text-decoration: none;
}
.header-main {
    padding: 1.2em 0;
}

/*----responsive-menu-start---*/
@media(max-width:768px){
.top-nav-left ul li{
	display:block;
	float:none;
	margin: 0em;
	padding: 0.6em 0;
	text-align: center;
}
.top-nav-left ul li a{
	color:#fff;
}
.top-nav-left ul li a:hover{
	color:#000;
}
.top-nav-left ul{
	display:none;
	background:rgba(153, 197, 10, 0.45);
	position:absolute;
	width:100%;
	z-index: 999;
	left: 0%;
	margin: 0.7em 0em;
}
.top-nav-left span.menu{
	display: block;
	width: 100%;
	position:relative;
	padding: 0.8em 1em;
}
}
/*--header end here--*/

/*--top-nav--*/
.top-nav {
	width:100%;
	background:rgba(158, 143, 102, 0.34);
}
ul.nav.navbar-nav{
    float: none;
    text-align: center;
}
nav.navbar.navbar-default {
    background-color: #fff;
    border: none;
    margin: 0;
}
.navbar-nav > li {
    float: none;
    display: inline-block;
}
.navbar-default .navbar-nav > li > a {
	padding: 1.5em 3.2em;
    display: block;
    font-size: 1em;
    font-weight: 400;
    color: #000;
    text-decoration: none;
    font-size: 16px;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    color: #fff;
	background: #fea600!important;
}
/* Effect 11: text fill based on Lea Verou's animation http://dabblet.com/gist/6046779 */
/* Bounce To Bottom */
.hvr-bounce-to-bottom {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  -moz-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  transition-duration: 0.5s;
}
.hvr-bounce-to-bottom:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  color:#fff;
  background: rgba(93, 121, 11, 0.98);
  -webkit-transform: scaleY(0);
  -o-transform: scaleY(0);
  -moz-transform: scaleY(0);
  transform: scaleY(0);
  -webkit-transform-origin: 50% 0;
  -o-transform-origin: 50% 0;
  transform-origin: 50% 0;
  -webkit-transition-property: transform;
  -o-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
  background: #fea600;
}
.navbar-nav > li.hvr-bounce-to-bottom > a:hover,.navbar-nav > li > a:hover {
    color: #fff !important;
	background: #fea600!important;
}
.hvr-bounce-to-bottom:hover:before, .hvr-bounce-to-bottom:focus:before, .hvr-bounce-to-bottom:active:before {
  -webkit-transform: scaleY(1);
  -o-transform: scaleY(1);
  transform: scaleY(1);
  -webkit-transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
  -moz-transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
  transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    color: #fff;
   background: #fea600;
}
/*--//top-nav--*/
/*--banner start here--*/
.banner {
  background: url(../images/banner.jpg)no-repeat 0px -148px;
  background-size: cover;
  min-height: 650px;
}

/*--banner end here--*/


/*--services--*/
.services {
    padding: 5em 0;
    text-align: center;
}
span.glyphicon.glyphicon-folder-open,span.glyphicon.glyphicon-log-in,span.glyphicon.glyphicon-cog,span.glyphicon.glyphicon-user,span.glyphicon.glyphicon-comment,span.glyphicon.glyphicon-globe {
    font-size: 3.5em;
  color: rgb(254, 165, 0);
}
.services h4 {
    color:#3e2e31;
    font-size: 1.3em;
    margin: 1em 0;
}
.services h3 {
    font-size: 2.5em;
       color: rgb(4, 19, 102);
    margin: 0 0 2em;
}

.services-left {
    padding: 31px 0px 20px 0;
    border: 1px solid #d9d9d9;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
}
.services-left:hover{
	 background: rgb(4, 19, 102);

}
.services-left:hover  h4{
	color:#fff;
}

/*--services--*/

#toTop {
	display: none;
	text-decoration: none;
	position: fixed;
	bottom: 10px;
	right: 10px;
	overflow: hidden;
	width: 48px;
	height: 48px;
	border: none;
	text-indent: 100%;
	background: url(../images/arrow.1.png) no-repeat 0px 0px;
}
#toTop:hover{
	outline: none;
}

@media(max-width:1440px){

}
@media(max-width:1366px){

}
@media(max-width:1280px){

}
@media(max-width:1080px){
	.navbar-default .navbar-nav > li > a {
		padding: 1.4em 2.3em;
	}
	.banner {
		min-height: 560px;
	}

}
@media(max-width:1024px){
	.banner {
		min-height: 520px;
	}
}
@media(max-width:991px){
	.navbar-default .navbar-nav > li > a {
		padding: 1.4em 1.37em;
	}

	.banner {
		min-height: 500px;
	}
	.services-left {
		width:16.6%;
		float:left;
	}
	span.glyphicon.glyphicon-folder-open, span.glyphicon.glyphicon-log-in, span.glyphicon.glyphicon-cog, span.glyphicon.glyphicon-user, span.glyphicon.glyphicon-comment, span.glyphicon.glyphicon-globe {
		font-size: 3em;
	}
	.services h4 {
		font-size: 1em;
	}
}
@media(max-width:966px){

}
@media(max-width:900px){
	.banner {
		min-height: 440px;
	}
}
@media(max-width:800px){
	.banner {
		min-height: 370px;
	}
	.services{
		padding: 3.5em 0;
	}
	.services h3 {
		margin: 0px 0 1em;
	}

}
@media(max-width:768px){
	.banner {
		min-height: 350px;
	}
}
@media(max-width:736px){
	.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
		background-color: #041366;
	}
	button.navbar-toggle {
		display: block;
		width: 16%;
		font-size: 1.6em;
		padding: 11px 10px;
		margin: 0 auto;
		border: none;
	}
	.navbar-toggle {
		float:none;
	}
	nav.navbar.navbar-default {
		background-color: #FFf;
		z-index: 99999;
	}
	.navbar-default .navbar-toggle {
		width:20%;
	}
	div#bs-example-navbar-collapse-1 {
		padding: 0;
	}
	.navbar-nav {
		margin: 0;
	}
	.navbar-nav > li {
		display: block;
	}
	.navbar-default .navbar-nav > li > a {
		padding: 1em 1em;
		font-size: 1.3em;
	}
	.navbar-default .navbar-collapse, .navbar-default .navbar-form {
		border:none;
	}
	.navbar-nav {
		margin: 0;
	}
	.navbar-default .navbar-toggle {
		border:none;
		background: #fea500;
		border-radius:0;
		color:#fff;
	}
	.banner {
		min-height: 330px;
	}

}
@media(max-width:667px){

	.header-main {
		padding: 0.8em 0;
	}
	.banner {
		min-height: 280px;
	}
	.services-left {
		width: 33.3%;
		float: left;
	}
}
@media(max-width:640px){

	.banner {
		min-height: 325px;
		background-position:0px -90px;

	}
}
@media(max-width:600px){

	.banner {
		background-position: 0px -62px;
	}
}
@media(max-width:568px){

	.banner {
		background-position: 0px -41px;
	}
}
@media(max-width:480px){

	.banner {
		min-height: 270px;
	}
}
@media(max-width:414px){
	.navbar-default .navbar-toggle {
		font-size:18px;
	}
	button.navbar-toggle {
		padding: 13px 10px;
	}
	.banner {
		min-height: 270px;
		background-position: 0px 0px;
	}
	.services{
		padding: 2em 0;
	}
	.services{
		padding-top:0em;
	}
}
@media(max-width:384px){
	.logo {
		float: left;
		width: 50%;
	}
	.phone{
		float: left;
		width: 50%;
	}

	.services h3 {
		font-size:30px;
	}
	.services-left {
		width: 50%;
		float: left;
	}
}
@media(max-width:375px){
}
@media(max-width:320px){
	.navbar-default .navbar-toggle {
		font-size: 14px;
	}
	.navbar-default .navbar-nav > li > a {
		padding: 10px 1em;
		font-size: 1em;
	}
	.navbar {
    min-height: 43px;
	}
	.banner {
    min-height: 215px;
	}
	.ab-top h3 {
		font-size: 3em;
	}
	.ab-top {
		padding: 1.2em;
	}
}
